src/main/mule/regionWebservice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration1" doc:name="HTTP Request configuration" doc:id="7726da37-4586-48b4-9a7f-f7f758b3248e" >
		<http:request-connection host="api.first.org" />
	</http:request-config>
	<flow name="regionWebserviceFlow" doc:id="5903fc95-8a9c-4705-8068-83cfd0fe6652" >
		<http:request method="GET" doc:name="call Region Api" doc:id="4aa9da0e-ebfc-49be-8373-e1806ec120e0" config-ref="HTTP_Request_configuration1" path="/data/v1/countries" />
		<ee:transform doc:name="Pluck region data" doc:id="f9cf421e-1dad-4373-9bf0-52a255f70cb7">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="regionData"><![CDATA[%dw 2.0
output application/json

---

payload.data pluck ((value, key, index) -> value)
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	</flow>
</mule>
